.search-bar {
    display: flex;
    max-width: 500px;
  }
  
  .search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #fb641b;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #ff5c00;
  }
  